{% extends 'dssWeb/base.html' %}
{% block title %}
    Route Allocations
{% endblock %}
{% block container %}
    <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-6">
                        <h2>Daiy Route Allocation</h2>
                    </div>

                        <!-- google maps container -->

    <div id="floating-panel">
    <b>Start: </b>
    <select id="start">
      <option value="Harare, ZW">Harare Depot</option>
    </select>
    <b>End: </b>
    <select id="end">
        {% for con in cons %}
            <option value='{{ con.address }}'>{{ con.customerName }}</option>
        {% endfor %}

      <option value="Chitungwiza, ZW">Chitungwiza</option>

    </select>
    </div>
    <div id = "map" style = "width:900px; height:580px;floating-panel {position: absolute;top: 10px;left: 25%;z-index: 5;background-color: #fff;padding: 5px;border: 1px solid #999;text-align: center;font-family: 'Roboto','sans-serif';line-height: 30px;padding-left: 10px"></div>
    &nbsp;
    <div id="warnings-panel"></div>
    <script>
      function initMap() {
        var markerArray = [];

        // Instantiate a directions service.
        var directionsService = new google.maps.DirectionsService;

        // Create a map and center it on Manhattan.
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 13,
          center: {lat: -17.785199, lng: 31.0521989}
        });

        // Create a renderer for directions and bind it to the map.
        var directionsDisplay = new google.maps.DirectionsRenderer({map: map});

        // Instantiate an info window to hold step text.
        var stepDisplay = new google.maps.InfoWindow;

        // Display the route between the initial start and end selections.
        calculateAndDisplayRoute(
            directionsDisplay, directionsService, markerArray, stepDisplay, map);
        // Listen to change events from the start and end lists.
        var onChangeHandler = function() {
          calculateAndDisplayRoute(
              directionsDisplay, directionsService, markerArray, stepDisplay, map);
        };
        document.getElementById('start').addEventListener('change', onChangeHandler);
        document.getElementById('end').addEventListener('change', onChangeHandler);
      }

      function calculateAndDisplayRoute(directionsDisplay, directionsService,
          markerArray, stepDisplay, map) {
        // First, remove any existing markers from the map.
        for (var i = 0; i < markerArray.length; i++) {
          markerArray[i].setMap(null);
        }

        // Retrieve the start and end locations and create a DirectionsRequest using
        // WALKING directions.
        directionsService.route({
          origin:{lng: 31.0335581, lat: -17.8253389} ,//document.getElementById('start').value,
          destination: document.getElementById('end').value,//{lng: 31.0388372, lat: -17.8470579},
          travelMode: 'DRIVING',
          //waypoints: {lat: -17.785199, lng: 31.0521989},
        }, function(response, status) {
          // Route the directions and pass the response to a function to create
          // markers for each step.
          if (status === 'OK') {
            document.getElementById('warnings-panel').innerHTML =
                '<b>' + response.routes[0].warnings + '</b>';
            directionsDisplay.setDirections(response);
            showSteps(response, markerArray, stepDisplay, map);
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });
      }

      function showSteps(directionResult, markerArray, stepDisplay, map) {
        // For each step, place a marker, and add the text to the marker's infowindow.
        // Also attach the marker to an array so we can keep track of it and remove it
        // when calculating new routes.
        var myRoute = directionResult.routes[0].legs[0];
        for (var i = 0; i < myRoute.steps.length; i++) {
          var marker = markerArray[i] = markerArray[i] || new google.maps.Marker;
          marker.setMap(map);
          marker.setPosition(myRoute.steps[i].start_location);
          attachInstructionText(
              stepDisplay, marker, myRoute.steps[i].instructions, map);
        }
      }

      function attachInstructionText(stepDisplay, marker, text, map) {
        google.maps.event.addListener(marker, 'click', function() {
          // Open an info window when the marker is clicked on, containing the text
          // of the step.
          stepDisplay.setContent(text);
          stepDisplay.open(map, marker);
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAjpn0_OR1ASmzc4f1y4tJrQE3673_vu8&callback=initMap">
    </script>

                        <div class="table-responsive col-md-12" >
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Trip ID</th>
                                        <th>Customer Destination</th>
                                        <th>Weight</th>
                                        <th>Value</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for con in cons %}
                                    <tr {% if con.isDelivered %}
                                    class="success"
                                    {% else %}
                                    class="danger"
                                    {% endif %}>
                                        <td>{{ con.tripNumber }}</td>
                                        <td>{{ con.customerName}}, {{ con.address }}</td>
                                        <td>{{ con.weight }}</td>
                                        <td>{{ con.value }}</td>
                                        <td>{{ con.deliveryStatus }}</td>
                                    </tr>

                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

            </div>
{% endblock %}